.post {
    a {
        background-color: var(--base-600);
        padding: 2rem;
        width: 416px;
        height: 260px;
        
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        justify-content: space-between;
        
        text-decoration: none;
        
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        transition: border-color 0.3s;
        
        &:hover {
            border-color: var(--base-400);
        }
        
        &:focus {
            outline: none;
            border-color: var(--base-400);
        }
        
        header {
            display: flex;
            gap: 1rem;
            
            h3 {
                width: 75%;
                
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 160%;
                color: var(--base-50);
            }
            
            time {
                width: 25%;
            
                font-size: 0.875rem;
                color: var(--base-300);
            
            }
        }
        
        .description {
            font-size: 1rem;
            line-height: 160%;
            color: var(--base-200);
            
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }
}